.asiakohta_hyvaksy {
    position: relative;
    z-index: 1;
    padding:0px 25px 0px 25px;
    width:calc(100% - 50px);
    background-color: #F9f9f9;
    margin-left:40px;
    margin-bottom: 3px;
}
.asiakohta_hyvaksy .areaText{
    margin-top:30px;
    background-color: #FFF;
    outline:1px solid #ddd ;
    padding:10px 5px 10px 5px;
    font-size: 14px;
}
