.mielipide .areaText {
    background-color: transparent;
    padding-left: 25px;
    
    height:auto;
}
.mteksti {
    margin-top:25px;
    margin-left:25px;
}
.perustelu .areaText {
    margin-left:25px;
    width:calc(100% - 45px);
    border:1px solid #ccc;
    padding:5px;
    padding-bottom:50px;
}
.msend {
    margin-left:25px;
    width:calc(100% - 68px);
    text-align: center;
    background-color: #ccc;
    color: white;
    max-width:150px;
}
.msend2 {
    
    background-color: #1b831b;
    
    
}
.mielipide_container{
    z-index:100;
    border-top:2px solid rgba(44,62,80, 0.5);
    /*padding-left: 25px;*/
    z-index:30px;
    height:fit-content;
    width:calc(100% );
    
    position: relative;
    
    background-color: #FFF;
    
    padding-bottom:20px;
}
.mielipide_valittu {
    outline:1px solid #ddd;
}
.mielipide_otsake{
    position:absolute;
    top:5px;
    white-space: nowrap;
    padding-left:5px;
    font-size:12px;
    
   /* font-weight: bold;*/
}
.mielipide_teksti {
    white-space:pre-wrap;
    border-top:32px solid rgba(44,62,80, 0.1);;
    
    padding:10px 5px 5px 5px;
    font-size:12px;
    background-color: #fff;
    width:calc (100% - 40px);
    
}
.nimipallo {
    z-index: 1;
    background-color: rgb(163, 41, 41);
    color:#FFF;
    position:absolute;
    display:block;
    width:32px;
    height:32px;
    /*padding: 0px 5px 0px 5px;*/
    position:absolute;
    line-height: 32px;
    text-align: center;
    font-size:12px;
    top:0px;
    right:0px;
    
}
.kelloaika {
    padding:2px;
    font-size:10px;
    padding-right: 40px;
    position: absolute;
    top:0px;
    right:0;
}

.MielipideHeader {
    
    
    background-color: #FFF;   
    padding:20px 30px 20px 30px;
    font-weight: bold;
}